{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}}

 :paths
 ["src"]

 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.9.10"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]}

  :deploy
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "interval.jar"]}

  :dev
  {:extra-deps  {criterium {:mvn/version "0.4.5"}}
   :extra-paths ["dev"]}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
   :main-opts ["-m" "hf.depstar.jar" "interval.jar"]}

  :install
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "install" "interval.jar"]}

  :test
  {:extra-deps  {com.cognitect/transit-clj  {:mvn/version "1.0.324"}
                 com.cognitect/transit-cljs {:mvn/version "0.8.264"}
                 lambdaisland/chui          {:mvn/version "0.0.117"}
                 lambdaisland/kaocha        {:mvn/version "1.0-612"}
                 lambdaisland/kaocha-cljs   {:mvn/version "0.0-71"}}
   :extra-paths ["test"]}}}
